---
layout: repo
---
<h1>Versions</h1>

<p>The <em>optimizationBenchmarking.org</em> repository hosts the following versions of our software:</p> 

<ul>
 <li><a href="{{ site.baseurl }}/repo/optimizationBenchmarking/org/optimizationBenchmarking/0.8.0/index.html">Version 0.8.0 (First Alpha Version)</a></li>
</ul>{{ content }}


<p>This is page is part of the <em>optimizationBenchmarking.org</em>
<a href="http://en.wikipedia.org/wiki/Apache_Maven">Maven</a> repository. If you want to
use (the latest version of) our software in your in your project, include the following
information in your <a href="http://en.wikipedia.org/wiki/Project_Object_Model">Maven POM</a>:</p>
<pre>
&lt;repositories&gt;
  &lt;repository&gt;
    &lt;id&gt;optimizationBenchmarking&lt;/id&gt;
    &lt;url&gt;http://optimizationbenchmarking.github.io/optimizationBenchmarking/repo/&lt;/url&gt;
  &lt;/repository&gt;
&lt;/repositories&gt;
&lt;dependencies&gt;
  &lt;dependency&gt;
    &lt;groupId&gt;optimizationBenchmarking.org&lt;/groupId&gt;
    &lt;artifactId&gt;optimizationBenchmarking&lt;/artifactId&gt;
    &lt;version&gt;{{ site.data.currentVersion.currentVersion }}&lt;/version&gt;
  &lt;/dependency&gt;
&lt;/dependencies&gt;
</pre>